/build
/vcpkg_installed
/docs/search
/docs/*html
/docs/*png
/docs/*js
/docs/*css
/docs/*svg
/docs/*map
/docs/*md5
*.d
s3tool
*~
.vs
CMakeSettings.json
.idea/
vcpkg-master.zip
vcpkg-master/
include/config.h
