*.d
*.o
s3tool
*~
libminiocpp.so
*.a
*.so
build/
*.pc
.vs
CMakeSettings.json
vcpkg_installed/
docs/search
docs/*html
docs/*png
docs/*js
docs/*css
docs/*svg
docs/*map
docs/*md5
include/config.h
.idea/
cmake-build*
vcpkg-master.zip
vcpkg-master/

