*.d
*.o
s3tool
*~
libminiocpp.so
*.a
*.so
build/
*.pc
*.patch
.vs
CMakeSettings.json
bin/
include/miniocpp
vcpkg_installed/
vcpkg-master.zip
vcpkg-master/
docs/search
docs/*html
docs/*png
docs/*js
docs/*css
docs/*svg
docs/*map
docs/*md5
include/config.h
