name: MinIO C++ Cmake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

# This ensures that previous jobs for the PR are canceled when the PR is
# updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Check style
      run: |
        wget --quiet -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        echo 'deb http://apt.llvm.org/focal/ llvm-toolchain-focal-14 main' | sudo tee -a /etc/apt/sources.list
        sudo apt-get -qy update
        sudo apt-get -qy install clang-format-14
        clang-format --version
        ./check-style.sh

    - name: Install vcpkg
      run: |
        wget --quiet -O vcpkg-master.zip https://github.com/microsoft/vcpkg/archive/refs/heads/master.zip
        unzip -qq vcpkg-master.zip
        ./vcpkg-master/bootstrap-vcpkg.sh
        ./vcpkg-master/vcpkg integrate install

    - name: Run debug build
      run: |
        cmake -B ./build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=./vcpkg-master/scripts/buildsystems/vcpkg.cmake
        cmake --build ./build --config Debug -j 4

    - name: Start MinIO server
      run: |
        wget --quiet https://dl.min.io/server/minio/release/linux-amd64/minio
        chmod +x minio
        mkdir -p ~/.minio/certs
        cp ./tests/public.crt ./tests/private.key ~/.minio/certs/
        sudo cp ./tests/public.crt /usr/local/share/ca-certificates/
        sudo update-ca-certificates
        MINIO_CI_CD=true ./minio server /tmp/test-xl/{1...4}/ &
        sleep 10

    - name: Run tests on debug build
      run: |
        SERVER_ENDPOINT=localhost:9000 ACCESS_KEY=minioadmin SECRET_KEY=minioadmin ENABLE_HTTPS=1 ./build/tests/tests

    - name: Run release build
      run: |
        cmake --build ./build --target clean
        cmake -B ./build -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=./vcpkg-master/scripts/buildsystems/vcpkg.cmake
        cmake --build ./build --config Release -j 4

    - name: Run tests on release build
      run: |
        SERVER_ENDPOINT=localhost:9000 ACCESS_KEY=minioadmin SECRET_KEY=minioadmin ENABLE_HTTPS=1 ./build/tests/tests

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C ${{env.BUILD_TYPE}}
